div.input-group > a.reference {
    color: #5c4ac7;
    text-decoration: underline !important;
}

div.input-group > a.reference:hover {
    color: #5c4ac7;
    text-decoration: underline !important;
    cursor: pointer;
}

button.btn {
    width: 150px;
}

span.label {
    text-align: center;
    padding: 5px 10px;
    display:inline-block;
    width:100px
}
